.green{
  color: green;
}
.el-tag{
  overflow: hidden!important;
}
.t-yel{
  color:#f19d05;
}
.bac-yel{
  background-color: #f19d05!important;
}
.t-red{
  color:red;
}
.t-blue{
  color:blue;
}
.t-color{
  color:#409EFF;
  font-weight: bold;
}
.xzqh{
  height: 400px;
  overflow: auto;
}
.xzqu-dialog.el-dialog{
  margin-top: 0vh !important;
}
.count-ul{
  margin-bottom: 10px;
}
.count-ul li{
  float: left;
  margin-right: 20px;
}
.el-dialog.big_dialog{
  display: flex;
  flex-direction: column;
  margin: 0!important;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-width: calc(100% - 30px);
  max-height: calc(100% - 30px);
}
.big_dialog.combine{
  width: 80%!important
}

.el-dialog.big_dialog .el-dialog__body{
  flex: 1;
  overflow: auto;
}
.text-center{
  text-align: center;
}
.alone-flex{
  display: flex;
  align-items: center;
}
.redy{
  color: #e6a23c;
}
.t-tags .el-tag{
  margin-bottom: 10px;
}
.el-input.is-disabled .el-input__inner{
  color: #787a7d!important;
}
.el-textarea.is-disabled .el-textarea__inner{
  color: #a7aab1!important;
}
.inputInner .el-input__inner{
  border: 1px solid #e4e8ee;
}
.inputInner .el-textarea__inner{
  border: 1px solid #e4e8ee;
}
.inputInner .el-input.is-focus .el-input__inner{
  border-color: #55b1eb;
}
.inputInner .el-textarea__inner:focus{
  border-color: #55b1eb;
}
.t-bjxq{
  border-radius: 3px;
  padding: 18px 0 0 24px;
  /* display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; */
}
.del-title{
  color:#1297d5;
  font-size: 15px;
  padding-bottom: 24px;
  font-weight: bold;
}
.del-pb{
  padding-bottom: 22px!important;
  padding-top: 0px!important;
  font-size: 12px!important;
  color: #323232!important;
}
.fw600{
  font-weight: 600
}
.aImg-title{
  color: #323232;
  font-size: 14px;
  font-weight: bold;
}
.t-mb16{
  margin-bottom: 16px!important;
}
.sw-title{
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 12px;
}
.t-check{
  padding: 0px 0px 20px;
}

/* .tt-mr10{
  margin-right: 3px!important
} */
.t-btnFlex{
  display: flex;
  justify-content: center;
  padding-left: 4px;
}
.iconbtn{
  font-size: 25px;
}
.iconbtn:hover{
  color: #399bfe;
}
.totalClass{
  /* text-align: right; */
  padding: 10px 30px 0px 0px;
  font-size: 12px;
  color: #767676;
}
.t-bjrt{
  border-radius: 3px;
  padding: 18px 0 0 44px;
  /* border-left: 1px solid #e9eeef */
}
.t-tsh{
  min-height: 350px;
}
.t-choose{
  padding: 0 0 20px 0%;
}
.t-tj{
  background-color: #f5f7fa;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  /* position: relative; */
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.t-sr{
  display: table-cell;
}
.t-sr .el-input__inner{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  height: 34px!important;
  line-height: 34px!important;
}
.t-tjsr{
  display: inline-table;
}
.review-span{
  display: inline-block;
  line-height: 32px;
}
.t-ak-tab-pane{
  border: 1px #dddddd solid;
  padding: 30px 5% 30px 0%;
  border-radius: 10px;
}
.t-fr{
  float: right;
}
.t-mr10{
  margin-right: 10px!important;
}
.t-mt10{
  margin-top: 10px!important;
}
.t-mt15{
  margin-top: 15px!important;
}
.t-mt20{
  margin-top: 20px!important;
}
.t-mtt{
  margin: 3% 0 1% 0;
}
.t-mb10{
  margin-bottom: 10px!important;
}
.t-mb28{
  margin-bottom: 28px!important;
}
.t-mb15{
  margin-bottom: 15px!important;
}
.t-mb{
  margin-bottom: 6px!important;
}
.t-ml0{
  margin-left: 0!important;
}
.t-ml10{
  margin-left: 10px!important;
}
.t-ml24{
  margin-left: 24px!important;
}
.t-ml94{
  margin-left: 94px!important;
}
.t-ml70{
  margin-left: 70px!important;
}
.t-width31{
  width: 31%!important;
}
.t-must{
  color: red;
  padding: 2px;
}
.my-form-group{
   position: relative;
 }
 .err__msg {
   color: red;
   display: block;
   font-size: 12px;
   line-height: 24px;
   position: absolute;
   background: #fff;
   padding: 0px 5px;
   box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
   border-radius: 4px;
   top:-5px;
   right:0;
 }
 .t-flex{
    display: flex;
    justify-content: space-between;
  }
 .t-fuzzy-12 .el-select{
   width: 85%!important;
 }
 .t-fuzzy-8 .el-select{
   width: 78%!important;
 }
 .t-fuzzy-12 .el-checkbox,.t-fuzzy-8 .el-checkbox{
   line-height: 2!important;
 }
 .tc-b{
   color: #409EFF;
 }
 .hand{
  cursor: pointer;
}
.meunSlid{
  position:fixed;
  right: 30px;
  top:50%;
  background-color: rgba(40,99,165, 0.8);
  border-radius: 6px;
  width: 117px;
  z-index: 999;
}
.meunSlid ul{
  padding: 10px;
}
.meunSlid ul li{
  margin: 12px 0px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.switch{
  position: relative;
  top: -152px;
  padding: 3px;
}
.switchhide{
  padding: 2px;
}
.meunSlid .el-icon-d-arrow-right,.meunSlidhide .el-icon-d-arrow-left{
  color: #fff;
}
.meunSlidhide{
  position:fixed;
  right: 30px;
  top:50%;
  background-color: rgba(40,99,165, 0.8);
  border-radius: 6px;
  width: 20px;
  height: 50px;
  z-index: 999;
  line-height: 48px;
}
.photo-content{
  position: relative;
}
.hisPhoto{
  position: absolute;
  bottom: 0px;
  background-color:rgba(0,0,0,0.5);
  color: #fff;
  width: 128px;
  text-align: center;
  font-size: 12px;
  padding: 5px 0px;
}
.basicInfo{
  border: 1px solid #dcdfe6;;
  /* padding: 5px; */
  text-align: center;
  border-radius: 4px;
  -moz-box-shadow:2px 2px 10px #c1cdda;
  -webkit-box-shadow:2px 2px 10px #c1cdda;
  box-shadow:2px 2px 10px #c1cdda;
  background-color: #fff;
  margin-right: 10px
}
.bb{
  border-bottom: 1px solid #ddd;
}
.t-bb{
  border-bottom: 1px solid #eee;
}
.tt-bb{
  border-bottom: 1px solid #eee;
}
.qz{
  font-weight: bold;
  font-size: 14px;
}
.width-14{
  width: 16%
}
.width-86{
  width: 84%;
}
.t-ak-tab-item{
  background: #399bfe;
  color: #fff;
  font-size: 14px;
  margin-right: 3%;
  border-radius: 3px 3px 0 0;
  padding: 0 5%;
  line-height: 30px!important;
}
.ak-checked{
  background: #fff;
  color: #399bfe;
  border: 1px #dddddd solid;
  border-bottom: 1px #fff solid;
  margin-bottom: -1px;
}
.lh-ts{
  line-height: 32px!important;
}
.el-tag + .el-tag {
    margin-left: 10px;
}
.photoCon{
  display: flex;
  flex-wrap:wrap;
}
.photoItem{
  width: 22%;
  margin: 5px 5px
}
.photoCar .el-carousel__button{
  width: 10px!important
}
.photoCar img{
  width: 100%;
  height: 100%
}
.t-pad{
  padding: 0px 3%;
}
.t-pb20{
  padding-bottom: 20px;
}
.redx{
  color: red;
}
.t-input{
  border-radius: 4px;
  border: 1px solid #ddd;
  min-height: 32px!important;
  line-height: 32px!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  /* border-left: none; */
  background-color: #fff;
  width: 100%;
}
.t-input-content{
  /* width: 100%; */
  padding: 0 10px;
  color: #606266;
  font-size: inherit;
  background-color: #fff;
}
.t-table{
  width: 100%;
  font-size: 14px!important;
}
.t-table tr{
  height: 40px;
}
.th1{
  background: #5D717F!important;
  font-size: 14px!important;
  color: #FFFFFF;
}
.t-table td{
  border:1px solid #eee
}
.t-el-content{
  color: #606266;
   display: flex;
   font-size: 13px;
   padding: 5px 0px;
 }
 .t-el-text{
   white-space: nowrap;
 }
 .t-el-sub{
   width: 60%;
   word-wrap: break-word;
   flex-wrap: wrap;
 }
 .qwjs .t-el-sub{
    width: 67%;
    word-wrap: break-word;
    flex-wrap: wrap;
    line-height: 22px;
    margin-top: -3px;
  }
  .t-el-sub-long{
    width: 94%!important;
  }
 .slh{
   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
 .t-table1 thead th .cell{
   white-space: normal!important;
 }
 .t-footer{
   /* border-top: 1px solid #1c6cb4; */
   padding: 20px 0px;
 }

 .arrow_line {
     position:absolute;
     width: 8px;
     height: 8px;
     border: 1px solid #88faff;
 }
 .arrow_content .buttonpanel {
     width: 96%; margin: 0px auto;border-bottom: 1px solid #3b9bff; padding-bottom: 10px;
     text-align: right;
 }
 .arrow_content ul {
     padding: 0;
     margin: 0;
     clear: both;
     list-style: none;
 }
 .arrow_content ul li {
     padding: 5px 0 5px 10px;
     margin: 0;
     text-align: left;
     width: 30%;
     float: left;
     list-style: none;
     color: #fff;
     font-size: 12px;
 }
 .show-menu{
   margin-top: 10px;
 }
 .arrow_title {
     padding: 12px 0;
     font-size: 15px;
     color: #fff;
     text-align: left;
 }
 .menuClass .el-checkbox__label{
   color: #fff;
   font-size: 12px;
   width: 100%;
   word-wrap: break-word;
   white-space: normal!important;
   flex-wrap: wrap;
   display: inline-block;
 }
 .menuClass .el-checkbox{
   margin: 0px 3px 5px 0px;
   width: 30%;
   display: flex;
   flex-wrap:nowrap;
   justify-content: flex-start;
 }
.menuClass  .el-checkbox-group{
  display: flex;
  flex-wrap:wrap;
}
.imgFd .el-dialog__body{
  overflow: scroll;
  margin: 30px 20px;
  padding: 0!important;
}
.border-bot{
  border-bottom: 1px dotted #dedada;
}
.el-dialog__headerbtn .el-dialog__close{
  color: #e63354!important;
  font-weight: bolder!important;
}
.screen-ul li{
  /* float: left;
  padding: 0 4% */
}
.padL5{
  padding-left: 5px;
}
.padR5{
  padding-right: 5px;
}
.t-width25{
  width: 25%!important;
}
.el-transfer-panel__list .el-transfer-panel__item.el-checkbox{
  display: block;
}
.home-cz-li{
  display: flex;
}

.chart-title {
  text-align: center;
  font-weight: bold;
}
.chart-outer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.chart-outer-label {
  position: absolute;
  font-size: 12px;
  color: #919294;
  top: -9px;
  left: 20px;
  background: #fff;
  z-index: 1;
}

.chart-compare{
  font-size: 12px;
  font-weight: bold;
}

.chart-select.el-select {
  width: 150px!important;
}
.icon-green{
  color: #A4E682;
}
.icon-red{
  color: #FD829A;
}
.compare-icon{
  font-weight: bold!important; 
}
.address-btn{
  position: absolute;
  right: 32px;
  top: 78px;
}
.dz-cus{
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.bgh1 .crrcolor {
  color: #1ba5c2 !important;
}

.bgh1 .el-dialog {
  width: 90% !important;
  color: #ffffff !important;
  border: 1px solid #2e9de7;
  background-color: rgba(7, 67, 124, 0.9);
  border-radius: 2px;
}
.bgh1 .el-dialog__title {
  color: #86cdfb !important;
  font-size: 18px;
  font-weight: lighter;
  border-left: 4px #86cdfb solid;
  padding-left: 10px;
}
.bgh1 .map-class .el-dialog__headerbtn {
  position: fixed;
  top: 38px;
  right: 4.5%;
  padding: 0px;
  background: #fff;
  border: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  width: 25px;
  height: 25px;
  color: #000;
}
.bgh1 .el-dialog__headerbtn {
  position: absolute;
  top: -6px;
  right: -11px;
  padding: 0px;
  background: #fff;
  border: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  font-size: 16px;
  width: 25px;
  height: 25px;
  color: #000;
  z-index: 2000;
}
.bgh1 .el-dialog__wrapper {
  /* top: -79px!important; */
  overflow: hidden !important;
}
.bgh1 .map-class .el-dialog__header {
  border-bottom: none;
  padding: 0px 20px 10px !important;
}

.bgh1 .el-dialog__header {
  border-bottom: none;
  padding: 15px 20px 10px !important;
}
.bgh1 .el-dialog__body {
  padding: 10px 20px;
  line-height: 30px !important;
}
.bgh1 .el-dialog__footer {
  background: none;
}
.bgh1 .el-table {
  border: none;
  background: none;
}
.bgh1 .el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px !important;
}
.bgh1 .el-table th {
  background: rgba(1, 34, 79, 0.9) !important;
  color: #25daf5;
  border: none;
  border-top: 1px #2071a0 dashed;
}
.bgh1 .el-table tr {
  background-color: rgba(7, 67, 124);
  color: #a9d6fd;
  border: none;
}
.bgh1 .el-table tr td {
  border: none;
  border-top: 1px #2071a0 dashed;
  border-bottom: 1px #2071a0 dashed;
}
.bgh1 .el-table--border,
.el-table--group {
  border: none;
}
.bgh1 .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: rgba(7, 67, 124);
  color: #a9d6fd;
}
.bgh1 .el-table__expanded-cell {
  background: #023062 !important;
}
.bgh1 .el-table__empty-block {
  background: rgba(7, 67, 124);
  border-bottom: 1px #2071a0 dashed;
}
.bgh1 .el-table__empty-text {
  color: #a9d6fd;
}
.bgh1 .map-class {
  top: 48px !important;
  margin: 0 auto 0 !important;
  overflow: hidden;
  height: 90% !important;
}
.bgh1 .el-pagination.is-background .btn-next.disabled,
.el-pagination.is-background .btn-next:disabled,
.el-pagination.is-background .btn-prev.disabled,
.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .el-pager li.disabled {
  background: none;
}
.table-other {
  position: relative;
  height: 34px;
  border-bottom: 1px solid #e2e7ed;
  margin-bottom: 12px;
  /* display: flex;
  justify-content: space-between; */
}
.table-tab-box {
  position: absolute;
  left: 0;
}
.table-other-box{
position: absolute;
}
.table-tab-box span {
  font-size: 12px;
  color: #9ea5bf;
  margin-right: 20px;
  display: inline-block;
  padding: 0 2px 10px;
  box-sizing: border-box;
}

.tab_active {
  color: #2576dc;
  border-bottom: 3px solid #2576dc;
}
.table-btn-box {
  position: absolute;
  right: 0;
}
.el-form .divider-text{
  font-size: 16px;
  font-weight: bold;
}
.el-form .el-divider--horizontal{
  margin: 10px 0 18px;
}
.form-line{
  margin-left: 73px!important;
  line-height: 30px!important;
}
.hc-dialog .el-dialog__body{
  line-height: 30px!important;
}
.cus-children:not(:last-child){
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
}
.cus-children:not(:first-child){
  padding-top: 15px;
}
.cus-adress{
  border: 1px solid #ccc;
  padding: 15px!important;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-left: 53px!important;
  margin-right: 58px!important;
}
.cus-adress .el-form-item__label{
  width: 145px!important;
}
.cus-adress .el-form-item__content{
  margin-left: 145px!important;
}
.upload-box{
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.dz-upload{
  display: inline-flex;
  justify-content: space-between;
  width: 70%;
}
.upload-box .el-upload--picture-card{
  width: 100px;
  height: 100px;
  line-height: 25px;
}
.upload-box .upload-text{
  margin-top: 20px;
}
.upload-box .upload-text .upload-text-span{
  font-size: 12px;
  color:#8c939d
}
.upload-box .el-upload-list--picture-card .el-upload-list__item{
  width: 100px;
  height: 100px;
}
.adress-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.timeLine .el-card{
  margin-bottom: 10px;
}
.timeLine{
  max-height: 900px;
  overflow-y: auto;
  line-height: 20px!important;
}
.timeLine h4,.timeLine p{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
#big-img-box {
  position: fixed;
  /* height: fit-content; */
  /* width: fit-content; */
  /* max-width: 50%;
  max-height: 500px;
  min-height: 200px; */
  height: 640px;
  width: 800px;
  z-index: 2147483647!important;
  margin: auto;
  left: 0;
  right: 0;
  top: 29%;
  bottom: 10%;
  padding: 40px;
  /* top:50%;
  left:50%;
  margin-top:-300px;
  margin-left:-300px; */
  overflow: hidden;
}
#big-img-box .el-image-viewer__close {
  top: 2px!important;
  right: 2px!important;
}

#big-img-box .el-image-viewer__wrapper {
  position: initial!important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#big-img-box .el-image-viewer__wrapper:focus {
  outline: none!important;
}

#big-img-box .el-image-viewer__canvas {
  align-items: baseline;
}
#big-img-box .el-image-viewer__canvas img {
  margin: 0!important;
  width: 100%;
  /* height: 100%; */
  position: relative;
  /* pointer-events: none; */
  max-height: fit-content!important;
}
.t-tabs-btn{
  position: absolute;
  right: 0px;
}
/* 预警详情 */
.t-content{
  background-color: #fff;
  padding:20px;
}
.yj-title{
  font-size: 16px;
  font-weight: bold;
  color: #2e9de7;
}
.basic-box{
  display: inline-flex;
  justify-content: space-between;
  border-top: 1px solid #D9F0FE;
  height: 30px!important;
}
.basic-key{
  width: 100px;
  padding:6px 5px;
  background-color: #E8F5FE;
  font-size: 12px;
  margin-right: 2px;
  color: #72757A;
}
.basic-value-box{
  
}
.basic-value{
  width: 70%;
  background-color: #F0F9FF;
  margin-right: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 5px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
}
